.location{
    background-color: rgba(6, 38, 78, 0.564);
    padding: 20px;
    margin: 40px 0;
    border-radius: 12px;
    transition: transform 0.35s;
    cursor: pointer;
}
.location:hover{
    transform: scale(1.1);
    box-shadow: -5px -5px 5px rgb(151, 0, 206);
    transition: transform 0.35s;

}
.location__title{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(36, 188, 36);
}
.location__list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.location__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    color: gray;
}
.location__item span{
    color: whitesmoke;
    font-weight: 700;
}